@import "libs/reste.scss";

body{
  font-family: 'Roboto', sans-serif; 
}

h1, h2, h3,h4{
    font-family: 'Shrikhand', cursive;
}


@media screen and (max-width:768px){

    $primary:#9356DC;
    $secondary: #FF79DA;
    $tertiary: #99E2D0;

    header{
        display: flex;
        padding-top: 10px;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        .logo{
            width: 200px;
        }

        .localisation{
            width: 100%;
            padding: 10px;
            border: 1px solid rgb(255, 245, 245);
            border-left: none;
            border-right: none;
            background-color: rgba(158, 157, 157, 0.274);
            text-align: center;
        }
        input{
            border: none;
            background: rgba(235, 225, 225, 0.178);;
        }
           
    }

    .reservation{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background:rgba(158, 157, 157, 0.082);
        padding: 30px;
        h5{
            font-size: 20px;
            font-weight: 700;

            text-align: center;
        }
        p{
            font-size: 15px;
            padding: 5px;
            text-align: center;
        }
        a{
            text-decoration: none;
            border: 1px solid gray;
            padding: 10px;
            border-radius: 20px;
            background: rgb(147,86,220);
            background: linear-gradient(-10deg, rgba(147,86,220,0.8) 30%, rgba(255,121,218,1) 84%);
            color: white;
            font-size: 15px;
            margin: 0;
            margin-top: 10px;
        }
    }

    .fonctionnement{
        width: 100%;
        padding: 30px;
    }
        .fonctionnement-choix{
            position: relative;
            margin-top: 10px;
            margin-bottom: 15px;
            border: 1px solid gray;
            padding: 20px;
            border-radius: 20px;
            background-color: rgba(128, 128, 128, 0.11);

            &:hover{
                background-color: rgba($color:$primary, $alpha: 0.1);
            }
           
        }
            
            span{
                margin-left: 10%;
                color: black;
                font-weight: 700;
                
            }
            a{
                text-decoration: none;
                margin-left: 10%;
            }

        .restaurant{
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            position: relative;
            background-color: rgba(179, 171, 171, 0.158);
            padding: 10px;
            padding-bottom: 40px;
        }

        .restaurant-list-finale{
            width: 100%;

            .nouveau1{
                position: absolute;
                padding: 8px;
                background-color: $tertiary;
                border-radius: 5px;
                color:rgb(33, 109, 33);
                right: 20px;
                top: 5%;
            
                
            }
            .nouveau2{
                position: absolute;
                padding: 8px;
                background-color: $tertiary;
                border-radius: 5px;
                color:rgb(33, 109, 33);
                right: 20px;
                top: 29%;
               
                
            }

            a{
                color: black;
            }

         
        }
           
             
          
           .article-image{
            display: flex;
            height: 200px;
            overflow: hidden;
            border-radius: 1em 1em 0 0;
           

           }
                img{
                object-fit: cover;
                width: 100%;
            }

            .article-info{
                padding: 10px;
                background-color: white;
                border-radius: 0 0 10px 10px;
            }
    footer{
        
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 100%;
        background-color: rgb(54, 51, 51);
        h4{
            font-family: 'Shrikhand', cursive;
            color: white;
            margin-bottom: 20px;

        }
        a{
            color: white;
            margin-bottom: 10px;
            margin-left: 0;

            i{
                margin-right: 10px;
            }
            
        }
    }  
    
    .restaurant-info{
        display: flex;
        padding: 10px;
        background-color: white;
        border-radius: 0 0 10px 10px;
    }
        .restaurant-info-name{
            flex: 1;
        }
     .numero{
        position: absolute;
        border-radius:50%; 
        width:30px; 
        height:30px; 
        float:left; 
        color:white;
        text-align:center;
        line-height: 180%;
        left: -15px;
        top: 20px;
        background-color: $primary;
        
     }   


     .shadow{
        -webkit-box-shadow: 5px 5px 15px 5px rgba(148,148,148,0.23); 
        box-shadow: 5px 5px 15px 5px rgba(148,148,148,0.23);

     }

     .restaurant-image{
         width: 100%;
         height: 300px;
         overflow: hidden;

         img{
            object-fit: cover;
            width: 100%; 
         }
     }

     .restaurant-division{
         position: relative;
         background-color:#fff ;
         border-top-left-radius: 30px;
         border-top-right-radius: 30px;
         margin-top: -100px;
        
     }

     .restaurant-name{
         display: flex;
         padding: 10px;
        h4{
            margin-right: 20%;
            font-weight: 700;
            font-size: 1.5em;
        }
     }

     .repas{
         padding: 10px;
         display: flex;
         flex-direction: column;
       
     }

     .repas-list{
         margin-top: 10px;
         padding: 10px;
         background-color:#fff;
         border-radius: 20px;

         .prix{
             display: flex;

            p{
                flex: 1;
            }
         }

       
     }

     .commander{
         width: 100%;
         padding: 40px;
         display: flex;
     }

    .command{
        
         padding: 15px;
         background: rgb(147,86,220);
         background: linear-gradient(-10deg, rgba(147,86,220,0.8) 30%, rgba(255,121,218,1) 84%);
         border-radius: 20px;
         margin-left: 30%;
         color: #fff;
    
     }


     .souligner{
         border-bottom: 3px solid $tertiary;
         width: 10%;
     }

   

}   





